<div style="margin-top:-105px;">
    <div class="row justify-content-md-center align-content-center text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius:15px 0 0 15px; box-shadow:0 5px 5px 0 gray;">
            <i class="bi-braces"></i>
            <h3>Back-end</h3>
            <p>Atendiendo incidencias de sitios web, desarrollando regla de negocio y ampliando la funcionalidad.</p>
            <p class="text-primary cabecera">
                Stack
            </p>
            <p>
                Asp.Net Core, SQL Server, C#
            </p>
            <p class="text-primary cabecera">
                Experiencia
            </p>
            <ul>
                <li>Linq</li>
                <li>Arquitectura MVC</li>
                <li>Entity Framework</li>
                <li>Web Apis</li>
                <li>Procedimientos Almacenados</li>
                <li>Vistas SQL</li>
                <li>Consultas semi - avanzadas</li>
            </ul>
        </div>
        <div class="col col-3 bg-white habilidades" style="border-radius:0 15px 15px 0; box-shadow:0 5px 5px 0 gray;">
            <i class="bi-code-slash"></i>
            <h3>Front-end</h3>
            <p>Maquetado y diseño de vistas de acuerdo a los requerimientos</p>
            <p class="text-primary cabecera">
                Stack
            </p>
            <p>
                Bootstrap
            </p>
            <p class="text-primary cabecera">
                Experiencia
            </p>
            <ul>
                <li>Css</li>
                <li>Javascript</li>
            </ul>
        </div>
    </div>
</div>