<div class="text-center">
    <h1 class="display-4">Soy Saul R.O</h1>
    <h2>Soy developer .net</h2>
    <img id="fotoPerfil"
         src="~/img/fotoPerfil.jpg" alt="Foto de Saul" />
</div>

<div class="text-center">
    <img id="img-dotnet" src="~/img/NET-logo.png" alt="logo .net" />
</div>

<div class="row justify-content-center text-center bg-light">
    <div class="col col-md-7 seccion-bienvenida">
        <h1> Te doy la bienvenida a mi portafolio</h1>
        <p>
            Desarrollo sitios web personalizados, le doy mantenimiento y agrego nueva funcionalidad a sitios ya creados,
            desarrollo de API Rest y consumo de las mismas además de consumir web services SOAP, utilizando: C#, Entity Framework, Asp .net, JavaScript, Css, SQL, Web Apis
        </p>
    </div>
</div>